


<h4><%- messages() %></h4>
<br>
<!-- Display errors if needed -->
<% if (errors) { %>
    <ul class="notice">
 <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
<%  }) %>
   </ul>
<% } %>


<br>
<br>


<% if (title) { %>
    <h2><%= title %></h2>
<% } else {res.redirect('/')} %>


<form id="deleteForm" action="/inv/delete" method="post">
    <fieldset>
        <h5>Confirm Deletion - The delete is permanent.</h5>
        <label for="classificationList" class="top">Vehicle Class
            <%- classificationLists %>
        </label>
        <label class="top">  Make* <input type="text" id="invMake" name="inv_make" required minlength="3" placeholder="Min of 3 characters" <% if(locals.inv_make) { %> value="<%= locals.inv_make %>"
            <% } %>></label>

        <label class="top">  Model* <input type="text" id="invModel" name="inv_model" required required minlength="3" placeholder="Min of 3 characters" <% if(locals.inv_model) { %> value="<%= locals.inv_model %>"
            <% } %> ></label>
        <label class="top">  Description*<textarea id="invDescription" name="inv_description" required><% if(locals.inv_description) { %><%= locals.inv_description %><% } %>></textarea></label>

        <label class="top">  Image Path* <input type="file" id="invImage" name="inv_image" size="30" required <% if(locals.inv_image) { %> value="<%= locals.inv_image %>"
            <% } %>></label>

        <label class="top">  Thumbnail Path* <input type="file" id="invThumbnail" name="inv_thumbnail" size="30" required <% if(locals.inv_thumbnail) { %> value="<%= locals.inv_thumbnail %>"
            <% } %>></label>

        <label class="top">  Price* <input type="number" id="invPrice" name="inv_price" size="10" placeholder="decimal or integer numbers only" required pattern="^[1-9]\d*(\.\d+)?$" <% if(locals.inv_price) { %> value="<%= locals.inv_price %>"
            <% } %>></label>

        <label class="top">  Year* <input type="number" id="invYear" name="inv_year" size="10" placeholder="4-digit year" required minlength="4" maxlength="4" pattern="^(19|20)\d{2}"  <% if(locals.inv_year) { %> value="<%= locals.inv_year %>"
            <% } %>></label>
        
        <label class="top">  Miles* <input type="number" id="invMiles" name="inv_miles" size="10" placeholder="digits only" required pattern="^(\d+$)"  <% if(locals.inv_miles) { %> value="<%= locals.inv_miles %>"
            <% } %>></label>
        
        <label class="top">  Color* <input type="text" id="invColor" name="inv_color" required <% if(locals.inv_color) { %> value="<%= locals.inv_color %>"
            <% } %>></label>

        <label <input type="hidden" id="invId" name="inv_id" required <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
            <% } %>></label>
    </fieldset>
    <input type="submit" value="Update Vehicle" class="submitBtn">
    <br>
</form>



<script src="../../js/edit.js"></script>